<article class="article-container">
    <section>
        <h2>Challenge {{challengeNumber}} Description</h2>
        <hr>

        {{#if imagePath}}
        <img src="{{imagePath}}" class="dynamic-img" />
        {{/if}}

        {{{description}}}

        <hr>
        Goal:

        {{{goal}}}

        Parameters:

        {{{parameters}}}

        Points:

        {{{points}}}

        Rules
        <ol>
            <li>Teams must only use parts from their one base lego mindstorms kit</li>
            <li>Teams must have their bluetooth turned off on their brick.</li>
            <li>Robots must be within 1 ft by 1ft by 1ft in size.</li>
            <li>A run will end once a robot successfully reaches the starting position after traversing the path, or it leaves the path. This time will</li>
        </ol>

        <hr>

        {{#if mapPath}}
            <img src="{{mapPath}}" href="Guelph Roboticon Example Area" class="dynamic-img" />
        {{/if}}

        <p class="text-center">Sample competition area.</p>
        <hr class="grey">
    </section>
</article>

