

{{!< layouts/default}}
{{! The tag above means - insert everything in this file into the {content} of the main.hbs template }}



<form class="container exec">
    <div class="form-group form-inline padding-top-40">
        <label for="email">year:</label>
        <select name="year" id="year" class="form-control">
        </select>

        <label name="role" for="email">Role:</label>
        <select  name="role" id="role" onchange="changed(this)" class="form-control">
            {{#each roles}}
            <option value="{{this}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
</form>




<div class="container">
    <h3>Current Exec Roster</h3>

    <table class="table table-striped">
        <thead>
        <tr>
            {{!-- <th scope="col">#</th> --}}
            <th width="20%" scope="col">Position</th>
            <th width="25%" scope="col">Email</th>
            <th width="50%" scope="col">Name</th>
            <th width="5%" scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each currentExec}}
            <tr>
                {{!-- <th scope="row">{{rank}}</th> --}}
                <td class="padding-top-10">{{role}}</td>
                <td><input type="text" class="form-control" value="{{email}}"></td>
                <td><input type="text" class="form-control" value="{{name}}"></td>
                <td>
                    <div class="action-btn remove padding-top-5">
                        <span class="fas fa-minus-circle"></span>
                        <span>Remove</span>
                    </div>
                </td>
            </tr>
        {{/each}}
            <tr>
                <td class="padding-top-10">
                    <span id="newExecRole">{{selectedRole.name}}</span>
                </td>
                <td><input class="form-control" type="text"></td>
                <td><input class="form-control" type="text"></td>
                <td>
                    <div class="action-btn add padding-top-5">
                        <span class="fas fa-plus-circle"></span>
                        <span>Add</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-save">Save</button>

</div>


<script>
    
    function load() {
        var spinner = document.getElementById("year");
        var currentYear = new Date().getFullYear();

        for (var i = currentYear - 3; i < currentYear + 3; i++) {
            var option = document.createElement("option");

            if (i === currentYear) {
                option.selected = true;
            }
            option.value = i;
            option.innerText = i;

            spinner.add(option);
        }
    }


    window.onload = load;
    
    function changed(spinner) {
        document.getElementById("email").value = spinner.value + "@socis.ca";
    }

    function createExeec() {


        var exec = {
            name:  document.getElementById("name").value ,
            email:  document.getElementById("email").value ,
            year:  document.getElementById("year").value ,
            role:  document.getElementById("role").value
        };


        // upload the post and the attachments here
        $.ajax({url: "/admin/exec",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(exec),
            complete: function(xhr, status){

                var responseCode = xhr.status;
                var response = JSON.parse(xhr.responseText);

                if (responseCode === 201) {
                    uploadFilesForPost(response);
                    return;
                }

                alert("error! " + response.message);
            },
        });
    }

</script>
