<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <article class="article-container">
            <h1>{{title}}</h1>
            <hr>
            <h4>Location: {{location}}</h4>
            <p>{{date}} from {{start_time}} - {{end_time}}</p>
            <hr>
            <div>
                {{{description}}}
            </div>
        </article>
    </div>
</div>
